@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row">
            <div class="bg-danger col-md-3 col-sm-12">
                @Html.Partial("../Shared/PartialViews/aside")
            </div>
            <section class="col-md-9 col-sm-12">
                <article>
                    <h1>Yakıt Takip Sistemi</h1>
                    @await Component.InvokeAsync("Personel")
                </article>
            </section>
        </div>
    </div>
</main>