@model IQueryable<YakitTakip.Models.TbKod>

<select name="YakitTipiKodId" id="YakitTipiKodId">
    @foreach (var item in Model)
    {
        <option value="@item.Id"> @item.Ad </option>
    }
 </select>